[user]
  name = David Kinzer
  email = dtkinzer@gmail.com
  signingkey = 2E0053DF6911F5F8

[color]
  ui = true

[core]
  editor = vim
  excludesfile = ~/.gitignore

[github]
  user = dkinzer
[commit]
  gpgsign = false
  verbose = true
[init]
  defaultBranch = main
[pull]
  ff = only
