<?php
class `Filename()`TestCase extends DrupalWebTestCase {
	protected $privaleged_user;

	/**
	 * Overrides parent::getInfo()
	 */
	public static function getInfo() {
		return array(
			'name' => '${1:name}',
			'description' => '${2:description}',
			'group' => '${3:groupName}',
		);
	}


    /**
	 * ${4:first_test_discription}.
	 */
	public function test${4:testLabel}() {
		${5};
	}
}
