[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url =  git://github.com/msanders/snipmate.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url =  git://github.com/tpope/vim-surround.git
[submodule "bundle/git"]
	path = bundle/git
	url =  git://github.com/tpope/vim-git.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url =  git://github.com/ervandew/supertab.git
[submodule "bundle/minibufexpl"]
	path = bundle/minibufexpl
	url =  git://github.com/fholgado/minibufexpl.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url =  git://github.com/mileszs/ack.vim.git
[submodule "bundle/vip"]
	path = bundle/vip
	url =  git://github.com/tobyS/vip.git
[submodule "bundle/makegreen"]
	path = bundle/makegreen
	url =  git://github.com/reinh/vim-makegreen
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url =  git://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/vividchalk"]
	path = bundle/vividchalk
	url =  git://github.com/tpope/vim-vividchalk
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/debugger"]
	path = bundle/debugger
	url = git://github.com/ornicar/vim-php-debugger.git
[submodule "bundle/drupalvim"]
	path = bundle/drupalvim
	url = http://git.drupal.org/project/vimrc.git
[submodule "bundle/drupal_snippets"]
	path = bundle/drupal_snippets
	url = git://github.com/theunraveler/Drupal-Snippets-for-Vim.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/ropevim"]
	path = bundle/ropevim
	url = git://github.com/sontek/rope-vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
