[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url =  git://github.com/msanders/snipmate.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url =  git://github.com/tpope/vim-surround.git
[submodule "bundle/git"]
	path = bundle/git
	url =  git://github.com/tpope/vim-git.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url =  git://github.com/ervandew/supertab.git
[submodule "bundle/ack"]
	path = bundle/ack
	url =  git://github.com/mileszs/ack.vim.git
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url =  git://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/vividchalk"]
	path = bundle/vividchalk
	url =  git://github.com/tpope/vim-vividchalk
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/drupalvim"]
	path = bundle/drupalvim
	url = http://git.drupal.org/project/vimrc.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/L9"]
	path = bundle/L9
	url = git://github.com/vim-scripts/L9.git
[submodule "bundle/DirDiff"]
	path = bundle/DirDiff
	url = git://github.com/vim-scripts/DirDiff.vim.git
[submodule "bundle/ZoomWin"]
	path = bundle/ZoomWin
	url = git://github.com/blueyed/ZoomWin.git
[submodule "bundle/web-indent"]
	path = bundle/web-indent
	url = git://github.com/cawinkelmann/vim-web-indent.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/xdebug"]
	path = bundle/xdebug
	url = git://github.com/vim-scripts/XDebug-DBGp-client-for-PHP.git
[submodule "bundle/PIV"]
	path = bundle/PIV
	url = git://github.com/spf13/PIV.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-colors-solarize"]
	path = bundle/vim-colors-solarize
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/linediff"]
	path = bundle/linediff
	url = git://github.com/AndrewRadev/linediff.vim.git
[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = git://github.com/Shougo/neocomplcache.git
